head
  title= title
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
  link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel="stylesheet")
  link(href="stylesheets/wof.css", rel="stylesheet")
  script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
  style(type='text/css')
    body { padding-bottom: 40px; }
    .sidebar-nav { padding: 9px 0; } 
