.gameboard {
  width: 100%;
  background-color: green;
  display: table;
  padding-top: 3px;
  padding-bottom: 3px;
}

.game-row {
  width: 100%;
  display: block;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

.game-block {
  float: left;
  width: 80px;
  height: 80px;
  display: block;
  overflow: hidden;
  background: white;
  color: black;
  border: solid;
  border-width: 2px;
  margin: 2px;
  text-align: center;
  overflow: hidden;
}

.game-block-blank {
  background: green;
  border: none;
}

.game-letter {
  vertical-align: middle;
  font-size: 400%;
  line-height: 1.5em;
}

.letter-pick {
  vertical-align: middle;
#  font-size: 130%;
#  line-height: 1.5em;
#  border: solid;
#  text-align: center;
#  background: white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.letter-picked {
  background: #6a6a6a;
}

.letter-radio {
  visibility: hidden;
}

.fader.ng-hide-add, .fader.ng-hide-remove {
  -webkit-transition:0.5s linear all;
  /*-moz-transition:0.5s linear all;*/
  /*-o-transition:0.5s linear all;*/
  transition:0.5s linear all;
  display:block!important;
  opacity:1;
}

.fader.ng-hide {
  opacity:0;
}

.row-spacer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-text-bold {
  font-weight: bold;
}