div.col-md-12.gameboard
  div.game-row
    div.col-md-8.col-md-offset-2
      div.form-group
        label(for="txtPuzzle") Puzzle Text
        input.form-control#txtPuzzle(type="text" placeholder="Enter Puzzle Text" ng-model="puzzleText")
    div.form-group
      div.col-md-8.col-md-offset-2
        a.btn.btn-primary#aPuzzleText(href="" ng-click="puzzleTextSubmit(puzzleText)") Create Puzzle!

